<!-- Modal -->
<div class="modal fade" id="hechoTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Terminar Tarea</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <h5>Resumen de Tarea</h5>
        <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
              <div class="form-group">
          <label for="exampleFormControlTextarea1">Comentarios y/o Sugerencias</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="botton" class="btn btn-primary" data-dismiss="modal">Terminar</button>
      </div>
    </div>
  </div>
</div>
