<div class="col text-right">
  <div class="dropdown">
  <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    (Departamentos)
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Calidad</a>
    <a class="dropdown-item" href="#">Produccion</a>
    <a class="dropdown-item" href="#">Almacen</a>
  </div>
</div>
</div>
