<tr>
  <th scope="row">Tarea 1</th>
  <td>Calidad</td>
  <td><select class="form-control">
    <option>Sin confirmar</option>
    <option>En proceso</option>
  </select></td>
  <td><div class="row"><img src="me.jpg" alt="luis" id="imgme"></div><div class="row cent">Luis Doriz</div></td>
  <td><div class="row cent">10:00-13:30</div><div class="row cent">2:15:05</div></td>
  <td>  <div class="btn-group-vertical btn-group-sm" role="group"  aria-label="Basic example">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarTarea"><i class="far fa-trash-alt"></i></button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarTarea"><i class="fas fa-pencil-alt"></i></button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#hechoTarea"><i class="fas fa-check"></i></button>
  </div></td>
</tr>
