<tr>
  <th scope="row"></th>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <div class="row">
      <div class="col">
        Total esperado:
      </div>
      <div class="col alert alert-ligth text-center" style="border-color:blue;">
        <h5>800</h5>
      </div>
    </div>
  </td>
  <td>
    <div class="row">
      <div class="col">
        Total actual:
      </div>
      <div class="col alert alert-ligth" style="border-color:black;">
        <h5>285</h5>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
