<!doctype html>
<html lang="en">
<!--headerTemplate-->
  {{> general/header}}
  <!--link a css-->
  <body onload="startTime()">
    <!--barra de navegacion-->
    {{> general/navbar}}

    <div class="container">
      <!--Tiempo en vivo-->
      <h1 style="text-align: center; margin-top:60px;"><div id="txt"></div></h1>
      <h2>Hoy</h2>
      <div class="row">
        <!--Empresa-->
        <h3 class="col">Soluciones</h3></div>

        <div class="col">
      <!--Dropdown/ filter-->
        {{> general/filterDepartamentos}}
    </div>
    <!--Tabla-->
    <div class="table-responsive">
    <table class="table">
  <thead class="thead-light">
    <!--table labels-->
  {{> tarea/tableHeader}}
  </thead>
  <tbody >
    <!--table rows-->
    {{> tarea/row}}
    {{> tarea/row}}
    {{> tarea/row}}
    {{> tarea/row}}
  </table>
  </div>
    <!--
    -->
    <hr>
    <div class="row">
      <!--Empresa-->
      <h3 class="col">Saiga</h3></div>
    <div class="col">
        <!--Dropdown/ filter-->
      {{> general/filterDepartamentos}}
  </div>
  <!--Tabla-->
  <div class="table-responsive">
    <table class="table">
          {{> tarea/tableHeader}}
      <tbody >
        {{> tarea/row}}
        {{> tarea/row}}
        {{> tarea/row}}
        {{> tarea/row}}
    </table>
  </div>
  <div class="fixed-bottom text-right">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTarea"><i class="fas fa-plus-circle fa-4x"></i></button>
</div>
  <!--
    -->
<!--Edit Button-->
    {{> tarea/addbutton}}
<!--Edit Button-->
    {{> tarea/editbutton}}
<!--Trash Button-->
    {{> tarea/trashbutton}}
<!--Done Button-->
    {{> tarea/donebutton}}
  </tbody>
</table>
</div>

  {{> general/footer}}
  </body>
</html>
