<!-- Modal -->
<div class="modal fade" id="editarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="exampleFormControlInput1"><h5>Nombre de la Tarea</h5></label>
                  <input type="text" class="form-control" id="nombreTarea" placeholder="Tarea 1: Recoger molde">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1"><h5>Departamento</h5></label>
                <select class="form-control" id="departamento">
                  <option>Inyeccion</option>
                  <option>Calidad</option>
                  <option>Produccion</option>
                  <option>Almacen</option>
                  <option>Taller</option>
                </select>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1"><h5>Duracion</h5></label>
                  <div class="row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Desde</label>
                      <input type="datetime-local" class="form-control" id="tiempoInicio" value="2018-08-13T12:00">
                    </div>
                    <div class="col">
                      <label for="exampleFormControlInput1">Hasta</label>
                      <input type="datetime-local" class="form-control" id="tiempoFin" value="2018-08-13T13:00">
                    </div>
                </div>
              </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
