<!-- Modal -->
<div class="modal fade" id="eliminarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Seguro que quiere eliminar la Tarea?</h5>
        <p>Se notificara a los administradores y quedara grabado en el historial</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="botton" class="btn btn-secondary" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
