<tr>
  <th scope="row">Maquina 1</th>
  <td>Molde Vaso</td>
  <td>
    <div class="row align-items-center space">
      <div class="col- alert alert-success text-center">
        <h5>8</h5>
      </div>
      <div class="col- alert alert-warning text-center">
        <h5>7</h5>
      </div>
    </div>
  </td>
  <td>
    <div class="row align-items-center space">
      <div class="col- alert alert-success text-center">
        <h5>12</h5>
      </div>
      <div class="col- alert alert-warning text-center">
        <h5>10</h5>
      </div>
    </div>
  </td>
  <td>
    <div class="row">
      <div class="col alert alert-primary text-center space">
        <h5>100</h5>
      </div>
    </div>
  </td>
  <td>
    <div class="row">
      <div class="col alert alert-dark text-center space">
        <h5>57</h5>
      </div>
    </div>
  </td>
  <td><div class="row cent">10:00-13:30</div><div class="row cent">2:15:05</div></td>
  <td>  <div class="btn-group-vertical btn-group-sm" role="group"  aria-label="Basic example">
    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-pencil-alt"></i></button>
    <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button>
  </div></td>
</tr>
